<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>servicios</h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Duración Minutos</th>
                </tr>
                <% servicios.forEach(function(servicio) { %>
                    <tr>
                        <td><%= servicio.nombre %></td>
                        <td><%= servicio.precio %></td>
                        <td><%= servicio.duracionMinutos %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>